/* CSS Document */
#chart_confidence{
	position: relative;
	height: 100px;
	top: 0px;
	margin-left: 0px;
	margin-right: 100px;
	display: block;
}

#main_indicator {
	position: absolute;
	left: 0px;
	transition: all 1s;
}
#main_scale {
	background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120,100%,50%));
	border: solid 1px #000; 
    display: block;
    width: 100%;
    height: 10px;
    top: 50%;
    position: absolute;
    border-radius: 10px;
    padding-left: 100px;;
}
.thumb {
	height: 100px;
	width: 100px;
	display: inline-block;
	background-image: url([[pix:skillsaudit|thumb]]);
	border-radius: 50px;
	transition: all 1s;
	border: solid 1px #000;
}
.rating {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border: 1px solid #000;
	font-size: small;
	background: rgba(255,255,255,0.9);
}
.ratings {
	background-image: url([[pix:skillsaudit|pole]]);
	background-position: right 35px center;
	background-repeat:repeat-y;
	display: none;
}
.rating_comment {
	margin: 10px;
	background-color: #CFC;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.rating_date {
	font-weight: bold;
}
.minithumb {
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url([[pix:skillsaudit|thumb]]);
	background-size: cover;
	float: right;
	border-radius: 50px;
	transition: all 1s;
	border: solid 1px #000;
}

.thumb_small {
	height: 1em;
	width: 1em;
	display: inline-block;
	border-radius: 50px;
}

.up {
	transform: rotate(0deg);
}

.down {
	transform: rotate(180deg);
}

@keyframes wiggle {
	from {transform: rotate(-10deg);}
	to {transform: rotate(10deg);}
}
.wiggle {
	animation: wiggle 1s linear 0s infinite alternate;
	display: inline-block;
}

.skill_included {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.skill_number {
	transition: all 2s;
}

.skill_included_yes {
	background-image: url([[pix:skillsaudit|tick]]);
	background-repeat: no-repeat;
	background-position: center;
}

.skill_included_no {
	background-image: url([[pix:skillsaudit|cross]]);
}

.skillnumber {
	font-weight: bold;
}

.conf_ind_cont {
	display: inline-block;
	width: 50px;
	height: 10px;
	border: solid 1px #000;
	positin: absolute;
}

.conf_ind {
	display: block;
	height: 10px;
	width: 0px;
	background-color: #F00;
}

#controls {
	position: relative;
}

.btn_anim {
	margin: 10px;
}
.conf_buttons {
	text-align: center;
}
.skillsaudit_user_summary {
	background-color: #fff;
	border: solid 2px #000;
	margin: 10px;
	padding: 10px;
	position: relative;
}
#total_score {
	position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.target_number {
	font-weight: bold;
}

.target_box {
	background-color: #cfc;
	padding: 10px;
}

.changed {
	background-color: #cfc;
}

.other_topic {
	background-color: #FC6;
	text-align: center;
	font-weight: bold;
}

.latest_rating_time {
	opacity: 0.5;
}

.conf_ind_lowest {
	position: relative;
    height: 10px;
    width: 10px;
    background-color: #FFF;
    transform: translateX(-50%) translateY(-20px) rotate(225deg);
    border: 1px solid #000;
    border-radius: 0px 5px 10px;
}

.conf_ind_status {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.conf_ind_status_yes {
	background-image: url([[pix:skillsaudit|tick]]);
}

.conf_ind_status_no {
	background-image: url([[pix:skillsaudit|cross]]);
}

.rating_td {
	text-align: center;
	position: relative;
}

.rating_td:hover::after { 
    background-color: #ffa;
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}

.rating_td:hover::before { 
    background-color: #eee;
    content: '';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -2;        
}

.rating_table {
  overflow: hidden;
}

.text_confidence {
	color: #999;
}